<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <form class = "login-button" action="/login" method = "POST">
    <div class="background-image"></div>
    <div class="background-overlay"></div>
    <div class="login-container">
        <div class="login-form">
            <h2>Email Address</h2>
            <!-- Input for Email Address -->
            <input type="email" id="email" placeholder="you@rism.ac.th" name = "Id">
            <h2>Password</h2>
            <!-- Input for Password -->
            <input type="password" id = "password" placeholder="write something..." name = "password">
            <button id="login-button" type="submit">Login</button>
        </div>
        <div class="login-info">
            <img src="images/risr-logo-2.png" alt="RIS High School Portal Logo">
            <h3>High School Portal</h3>
        </div>
        <button class="close-button">&times;</button>
    </div>
</form>
</body>
</html>